# Ignore node_modules and other dependencies
node_modules/
vendor/

# Ignore temporary files
*.log
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.idea/
.vscode/

# Ignore build outputs
/dist/
/build/
.vercel
