<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English - Class 8</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subjects.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>English 1st Language- Class 8</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('courses') }}">Courses</a></li>
                    <li><a href="{{ url_for('contact') }}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    
    <section id="chapters">
        <div class="button-container">
            <h2>CONTENT TYPE</h2>
            <ul>
                <li>
                    <a href="{{ url_for('poem6') }}" class="btn-nav" onclick="storeContentType('Poem')">
                        <button type="button">Poem</button>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('prose6') }}" class="btn-nav" onclick="storeContentType('Prose')">
                        <button type="button">Prose</button>
                    </a>
                </li>
            </ul>
        </div>
    </section>
<footer>
    <div class="container">
        <p>&copy; 2024 EduLearn. All Rights Reserved.</p>
    </div>
</footer>
    <script>
        // Function to store the content type in localStorage
        function storeContentType(content_type) {
            localStorage.setItem('content_type', content_type);
            console.log('Stored content type:', content_type); // For debugging purposes
        }
    </script>
</body>
</html>